
.MB-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: rgb(26, 42, 53);
}

.MB-adversaire-container-upper-bandeau {
    padding-top: 2vh;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 100%;
    height: 15%;
    display: flex;
    /* justify-content: space-between; */
}

.exitAndSave-container {
    display: flex;
    flex-direction: column;
}

.MB-exit-button {
    cursor: pointer;
    padding: 2vh;
    color: #e3e3e3;
    margin-bottom: 1vh;
    font-size: 3vh;
}

.MB-exit-button:hover {
    border: solid black 2px;
}

.MB-info-button {
    position: absolute;
    color: #e3e3e3;
    font-size: 3vh;
    right: 0;
    padding-right: 2vh;
}

.MB-info-content {
    justify-content: center;
    text-align: justify;
    padding: 2vh;
    overflow-y: auto;
    z-index: 1;
    position: fixed;
    width: 20vw;
    height: 60vh;
    background-color: rgb(99, 132, 160);
    right: 1%;
    top: 7%;
}

.MB-info-content strong {
    text-align: center;
    font-size: 4vh;
}

.MB-info-content p {
    color: #e3e3e3;
    font-size: 2.5vh;
}

.MB-info-content::after {
    content: '';
    position: fixed;
    top: 6%;
    right: 2%;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-bottom-color: rgb(99, 132, 160);
    border-top: 0;
    margin-left: -15px;
    margin-bottom: -15px;
}

.MB-adversaire-container {
    width: 15vw;
    display: flex;
    flex-direction: column;
    height: 34vh;
    background: #e3e3e3;
    border-radius: 5px;
    background-color: rgb(53, 67, 73);
}

.MB-advers-card-container {
    padding-top: 1vh;
    padding-bottom: 0.5vh;
    display: flex;
    justify-content: center;
}

.MB-adversaire-card {
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 100%;
    transform: translate(0.3vh, 0.3vh);
    padding-top: 1vh;
    background-color: rgb(26, 42, 53);
    padding-left: 1vw;
    border-radius: 5px;
    padding-bottom: 0.5vh;
}


.MB-adversaire {
    padding-top: 0.8vh;
    border-radius: 15px;
    width: 90%;
    height: 8vh;
    background: #f95959;
}

.MB-player-name {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 4vh;
    font-weight: bold;
    color: aliceblue;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    font-size: 1.7vh;
    color: aliceblue;
}

.MB-nbPoints {
    margin-bottom: 1vh;
}

.MB-p1 {
    transform: translateY(30vh);
    position: absolute;

}

.MB-p2 {
    position: absolute;
    transform: translateX(40vw);

}

.MB-p3 {
    transform: translateY(30vh);
    /* background-color: #035d03; */
}

.green {
    background-color: green;
}

.yellow {
    background-color: rgb(157, 157, 39);
}

.gris {
    background-color: rgb(76, 73, 73);
    box-shadow: none;
}

.pink {
    background-color: pink;
}

.gris:hover {
    box-shadow: none;
}

.glow {
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.player-card {
    margin-top: 2vh;
    max-height: 100%;
    transition: transform 0.3s ease;
    box-shadow: 0 0 20px rgb(46, 44, 44);
    z-index: 1;
}

.player-card:hover {
    transform: translateY(-10%);
}

.la-ou-on-pose-les-cartes-tmtc {
    position: relative;
    justify-content: space-between;
    display: flex;
    height: 30vh;
}

.middleCard-container {
    justify-content: center;
    position: relative;
    display: flex;
    padding-top: 12%;
    width: 100%;
    height: 65%;

}


.carte-milieu {
    height: 100%;
    border: solid rgb(46, 138, 66) 3px;
    margin-right: 2vw;
}

.pioche-container {
    padding-top: 2.5vh;
    position: relative;
    height: 70%;
    width: 10%;
}

.pioche {
    background-color: rgb(238, 255, 255);
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: solid 5px green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    font-weight: 700;
    box-shadow: 15px 15px 0 #035d03;
}

.MB-pioche-petit {
    font-size: 2vh;
}

.MB-card-holder-container {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgb(57, 107, 130);
}

.me-container {
    top: 1.5vh;
    position: relative;
    left: 0.5%;
    width: 20%;
    height: 85%;
    border-radius: 5px;
    background-color: rgb(26, 42, 53);
    padding-left: 1vh;
    padding-right: 1vh;
    padding-top: 0.5vw;
    margin-bottom: 4vh;

}

.state-container {
    display: flex;
    width: 100%;
}

.my-card {
    padding-top: 4%;
    margin-right: 1vh;
    width: 60%;
    height: 50%;
    border-radius: 15px;
}

.MB-card-holder {
    justify-content: space-between;
    display: flex;

    margin-left: 5vw;
    width: 50%;
    height: 80%;

}

.myTurn {
    box-shadow: rgb(60, 255, 0) 0px 0px 60px;
}

.player {
    width: 7vw;
    box-shadow: 0 0 40px rgb(46, 44, 44);
}

.player:hover {
    transform: translateY(-20%);
}

.MB-message-container {
    max-height: 100vh;
}

.MB-popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .own {
    max-height: 80%;
}

.MB-popup {
    position: absolute;
    display: flex;
    width: 40vw;
    height: 23vh;
    background-color: rgb(99, 132, 160);
    justify-content: space-between;
    padding-left: 1vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-right: 1vh;
    border-radius: 10px;
}

.adversaire-card-selection {
    justify-content: center;
    text-align: center;
    width: 29%;
    border-radius: 25px;
    padding-top: 10%;
}

.adversaire-card-selection:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

.chat-container {
    transform: translateY(3vh);
    max-height: 100%;
    max-width: 15%;
}


.mb-emote-container {
    position: fixed;
    left: 0;
    bottom: 20vh;
}

.mb-emote-button {
    height: 6vh;
    width: 6vw;
    margin-left: 200%;
    background-color: #1e4065;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.mb-emote-bubble {
    left: 10%;
    position: absolute;
    bottom: calc(100% + 10px);
    left: 0;
    /* Alignez la bulle d'émoticônes tout à gauche */
    width: 300px;
    /* Augmentez la largeur de la bulle d'émoticônes */
    background-color: rgb(144, 129, 129);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    z-index: 1;
    white-space: nowrap;
    /* Empêchez le texte de se retourner à la ligne */
    overflow-x: auto;
    /* Ajoutez une barre de défilement horizontale si nécessaire */
}

.mb-emote-list {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
}

.mb-emote {
    margin: 5px;
    cursor: pointer;
}

.mb-emote video {
    width: 60px;
    height: 60px;
    border-color: red;
}

.mb-emote-enemy video {
    margin-top: 2px;
    width: 75px;
    height: 75px;
    border-color: red;
}

.hide-emote {
    display: none;
}

.mb-emote-display-container {
    position: fixed;
    right: 1%;
    bottom: 22%;
    width: 200px;
    /* Ajusté pour mieux s'adapter au titre */
    background-color: rgb(67, 103, 182);
    /* Couleur légèrement ajustée pour le contraste */
    border-radius: 8px;
    /* Coins plus arrondis */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    /* Ombre pour une meilleure distinction */
    padding: 10px;
    /* Espacement interne pour le titre et le contenu */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mb-emote-display-title {
    font-size: 14px;
    /* Taille adaptée au nouveau container */
    color: white;
    text-align: center;
    margin: 5px 0;
    /* Ajustement de l'espacement autour du titre */
}

.mb-player-emote-container {
    width: 150px;
    height: 100px;
    background-color: rgba(87, 123, 202, 0);
    /* Gardé comme spécifié */
    border-radius: 2px;
    /* Gardé comme spécifié */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.mb-player-emote video {
    width: 95px;
    height: 95px;
}

.mb-emoteplayer-name {
    font-size: 2vh;
    font-weight: bold;
    margin-bottom: 0px;
    color: white;
}


