.NB-container {
    position: relative;
    display: flex;
    width: 100vw;
    height: 100vh;

}

.UBwithUnderBandeau {
    width: 66%;
    height: 100%;
    left: 0;
    background-image: url('pics/9999520.jpg');
    background-size: cover;
}

.waitingPlayerTitle {
    width: 100%;
    padding-top: 5vh;
    display: flex;
    justify-content: center;
    font-size: 3vh;
    color: white;
}



.NB-upperBandeau {
    height: 20%;
    top: 0;
    display: flex;
    padding-top: 2vh;
    justify-content: space-around;
    background-color: rgb(7, 55, 14);
    border-bottom: solid 2px grey;
    border-right: solid 2px grey;
}

.gameNameType {
    min-width: 30%;
    font-size: 5vh;
    padding-left: 1vw;
    padding-right: 1vw;
    color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    background-color: rgb(21, 35, 44);
    border: solid 2px gray;
    border-radius: 25px;
}

.NB-underBandeau {
    height: 80%;
    width: 100%;

}

.gameStat {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 33%;
    padding-left: 10%;
    padding-top: 2vh;
}

.NB-playerList {
    overflow: auto;
    padding-left: 2vw;
    padding-top: 3vh;
    width: 33%;
    height: 100%;
    background-color: rgb(21, 35, 44);
    border-left: solid 2px grey;
}

table {
    border-collapse: collapse;
    width: 90%;
    height: 50%;
    justify-content: center;
}

table,
th,
td {
    color: #f5f5f5;
    border: 3px solid rgb(0, 0, 0);
}

th,
td {
    font-size: 2vh;
    padding: 2vh;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}


.table-title {
    background-color: rgb(32, 98, 115);
}

.table-info {
    border: 3px solid black;
    background-color: rgb(116, 170, 183);
}

.bigReadyButton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30%;
    margin-top: 10%;
}

.bigReadyButton {
    width: 60%;
    height: 80%;
    border-radius: 30px;
    border: solid 3px white;
    font-size: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    align-items: center;
    background-color: rgb(8, 52, 11);
    box-shadow: 0 0 25px rgb(0, 0, 0, 0.6)
}

.bigReadyButton:hover {
    background-color: rgb(27, 81, 31);
    cursor: pointer;
}

.playerInfoContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.playerInList {
    display: flex;
    align-items: center;
    width: 80%;
    height: 10%;
    background-color: rgb(25, 71, 71);
    border: solid 2px gray;
    color: gainsboro;
    margin-top: 25px;
    border-radius: 20px;
}

.kickButton {
    color: black;
    display: flex;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 40%;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    background-color: red;
}

.kickButton:hover {
    background-color: rgb(99, 9, 9);
}

.playerInfo {
    font-size: 3vh;
}

@keyframes ellipsis {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }

    100% {
        content: "";
    }
}

.animated-ellipsis::after {
    content: ".";
    display: inline-block;
    animation: ellipsis 2s infinite steps(1);
}

.leaveLobbyButton {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vh;
    border: solid 3px gray;
    color: #f2f2f2;
    left: 0;
    width: 15%;
    height: 80%;
    border-radius: 20px;
    background-color: red;
}

.lobby-bot {
    display: flex;
    justify-content: center;
    padding: 2vh;
    align-items: center;
    font-size: 5vh;
    border: solid 3px gray;
    color: #f2f2f2;
    left: 0;
    width: 15%;
    height: 80%;
    border-radius: 20px;
    background-color: rgb(6, 39, 91);
    cursor: pointer;
}

.lobby-bot-list{
    left: 0.1vw;
}

.botList {
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 1;
    padding: 10px;
    background-color: #202d67;
    border: 1px solid #ccc;
    border-radius: 15px;
}


.botInfo {
    display: flex;
    align-items: center; /* Centre les éléments verticalement */
    padding: 5px;
    margin: 5px 0;
    cursor: pointer;
    background-color: rgb(39, 54, 117);
    border: 2px solid rgb(104, 103, 103);
    border-radius: 10px;
}


.botInfo img {
    width: 50px;
    height: 50px;
    margin-right: 10px; /* Espacement à droite de l'image de profil */
}

.botInfo img:last-child {
    margin-left: auto; /* Espacement à gauche de la dernière image */
}

.star {
    color: lightgray;
    font-size: 20px;
}

.star.filled {
    color: gold;
}


@media only screen and (max-width: 768px) {
    .UBwithUnderBandeau {
        width: 100%;
        max-height: 50%;
    }

    .NB-upperBandeau {
        max-height: 20%;
    }

    .leaveLobbyButton{
        margin-bottom: 5%;
        padding-top: 0;

    }

    .NB-container {
        flex-direction: column;
    }


    .gameNameType {
        min-width: auto;
        width: 80%;
        margin-bottom: 5%;
        font-size: 100%;
    }

    .NB-playerList {
        width: 100%;
        min-height: 50%;
        height: auto;
        padding-top: 5%;
        overflow: auto;
    }


    .playerInList {
        width: 100%;
        border-radius: 5px;
        margin-top: 5%;
    }

    .kickButton {
        width: 30%;
        font-size: 100%;
        padding-top: 4%;
        padding-bottom: 4%;
        margin-left: auto;
        margin-right: auto;
    }

    .leaveLobbyButton {
        width: 30%;
        font-size: 100%;
        /* margin-top: 5%; */
    }

    .bigReadyButton-container {
        margin-top: 10%;
        height: auto;
    }
    
    .bigReadyButton {

        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 100%;
    }

    .waitingPlayerTitle {
        font-size: 100%;
    }

    .playerInfo{
        padding-left: 4%;
    }
}

@media only screen and (max-width: 768px) {

    /* Désactiver les règles liées au profil */
    .gameStat,
    .table-title,
    .table-info {
        display: none;
    }


}